/*settings_page*/
#header_sett {
    background-color: #252323;
    padding: 0px;
    margin: 0px;
}
#back_btn {
    background-color: transparent;
    border: none;
}
#back_btn:hover {
    background-color: #2A2A2A;
    border-radius: 4px;
}
#back_btn:pressed {
    background-color: #3A3A3A;
}
#name_set {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 32px;
}
#ver_set {
    color: #A6A6A6;
    font-size: 18px;
    font-weight: 400;
}
#settings_scroll {
    background-color: #323232;
    border: none;
}

#settings_content {
    background-color: #323232;
}

QScrollBar:vertical {
    background: #8f8c8c;
    width: 2px;
    margin: 0px;
}

QScrollBar::handle:vertical {
    background: #6E6F72;
    min-height: 28px;
    border-radius: 6px;
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    height: 0px;
}
